
body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../images/supercell.jpg) no-repeat;
  background-size: fill;
  padding: 0;
}

h1, h2, h3, .input-field, .submit-button, p, .error-message, .this-location {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
}

/*WEATHER*/
.error-message {
  font-size: 30px;
  text-align: center;
}

.this-location {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

/*CONTROLS*/
h1 {
  font-size: 40px;
  margin: 20px 0 0 30px;
}

.input-holder {
  padding: 25px;
  margin: 0;
}

.input-field {
  color: #000000;
  font-size: 20px;
  border: none;
  padding: 5px;
  width: 300px;
}

.submit-button {
  border: none;
  background-color: rgba(64, 133, 119, 1);
  font-size: 20px;
  padding: 5px 20px 5px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

/*TODAY WEATHER*/
.today-weather {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

/*CURRENT WEATHER*/
.current-weather {
  width: 45%;
  background-color: rgba(0, 0, 0, 0.5);
}

.current-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  padding: 20px 0;
}

.current-day , .current-location, .current-icon, .current-temp, .current-condition {
  display: block;
  margin: auto;
  text-align: center;
}

.current-icon {
  margin: 20px auto;
  width: 100px;
}

.current-temp {
  font-size: 80px;
}

.current-condition {
  margin: 25px 10px;
}


/*HOUR WEATHER*/
.seven-hour-weather {
  background-color: rgba(0, 0, 0, 0.3);
  width: 45%;
  padding-bottom: 15px;
}

.hour-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px 5px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

/*FORECAST WEATHER*/

.ten-day-cast {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  white-space: nowrap;
  overflow: auto;
}

.hourly-forecast-scroll {
  display: inline-block;
  width: 225px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.scroll-item {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 2px;
  text-decoration: none;
}
